@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.prevent-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  

#container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

body{
    margin:0;
    display:flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}



h1{
    position:absolute;
    text-align: center;
    width:100%;
    font-weight: 1000;
    font-size:5rem;
    color:white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);

}

.slideShow{
    display: flex;
    height:40vh;
    overflow-x: hidden;
    overflow-y:hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
    align-items: center;
}

.slideShowItem{
    height:100%;
    width:100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.slideShowItem::-webkit-scrollbar{
    height:100%;
    color:transparent;

}

.slideShowItem > img{
    height:100%;
    width:100%;

    object-fit:cover;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    
    
}

#new-recipes{
    display:flex; 
    justify-content: center;
    flex-wrap:wrap;
}

.recipe-box{
    
    border:#C59A2B 3px solid; 
    width:100%;
    border-radius:1vw;
    box-sizing: border-box;
    display:flex;
    box-sizing:border-box;
    margin-bottom:30px;
}

.recipe-box-text{
    margin:3%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

.recipe-box h3{
    margin: 0;
    font-size:2rem;
    
}

.recipe-box p{
    margin:0;
}

.recipe-box img{
    grid-area:img;
    width:100%;
    border-radius:0 0.8vw 0.8vw 0;
    height:inherit;
    object-fit:cover;
    min-width: 200px;
}

.recipe-box a{
    grid-area:href;
   text-align:left;
    margin-top:0;
}

h2{
    font-size:3rem;
    color:#C59A2B;
    width:100%;
    text-align:center;
    margin:1vw;
}

h3{
    width:70%;
}

main{
    width:50%;
    min-width: 650px;
}

footer{
    height:0px;
    background-color: rgb(218, 162, 50);
}



@media screen and (max-width: 900px) {
    main{
        width:100%;
        min-width: 0px;
    }

    h1{
        font-size: 4rem
    }

    .recipe-box{
        height:auto;
        object-fit:none;
        width:80%;
        border-radius:3vw;
        flex-wrap:wrap;
    }

    .recipe-box h3{
        width:100%;
    }

    .recipe-box img{
        border-radius:0 0 2.5vw 2.5vw;
        min-width:0px;
    }
}