@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.prevent-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  

#container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
}

body{
    margin:0;
    display:flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h2{
    width:100%;
    font-size:3rem;
    color:#C59A2B;
    width:100%;
    text-align:center;
    margin:1vw;
}


main{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    overflow:hidden;
    
}

footer{
    height:0px;
    background-color: rgb(218, 162, 50);
}



/* MAIN PAGE HEADER */

#slideShow h1{
    position:absolute;
    text-align: center;
    width:100%;
    /* font-weight: 1000; */
    font-size:5rem;
    color:white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);

}

#slideShow{
    /* z-index:2; */
    display: flex;
    height:40vh;
    overflow-x: hidden;
    overflow-y:hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
    align-items: center;
}

.slideShowItem{
    height:100%;
    width:100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.slideShowItem::-webkit-scrollbar{
    height:100%;
    color:transparent;

}

.slideShowItem > img{
    height:100%;
    width:100%;

    object-fit:cover;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    
    
}

/* NEW RECIPES */

#new-recipes{
    display:flex; 
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* flex-wrap:wrap; */
    flex-basis:100%;
    
}

.recipe-box{
    min-width: 650px;
    width:55%;
    
    border:#c59a2b 3px solid; 
    border-radius:1vw;
    box-sizing: border-box;
    display:flex;
    margin-bottom:30px;
}

.recipe-box div{
    margin:3%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    width:60%;
}

.recipe-box h3{
    margin: 0;
    font-size:2rem;
    
}

/* .recipe-box p:first-of-type{
    color:grey;
} */

.recipe-box p{
    margin:0;
    width:100%;
}

.recipe-box img{
    border-radius:0 0.8vw 0.8vw 0;
    object-fit:cover;
    width:40%;
    max-height:350px;
}

.recipe-box a{
   text-align:left;
    margin-top:0;
    text-decoration:none;
}

#new-recipes .button{
    /* border:#c59a2b 3px solid;  */
    box-sizing: border-box;
    background-color:#c59a2b ;
    border-radius:1rem;
    padding:1rem;
    font-size:1.3rem;
    font-weight:bold;
    text-decoration: none;
    color:white;
    
    
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.253);
}

/* CATEGORIES */


#categories{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:left;
    justify-content: center;
}


.category-tile{
    width: 18rem;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    position:relative;
    
    height:24rem;
    margin:1.2rem;
}

.category-tile img{
    width:100%;
    /* margin-bottom: -4rem; */
    border-radius: 20px 20px 20px 20px;
    height:100%;
    object-fit:cover;
}

.category-tile-header{
    width:100%;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:0;
    color:white;
    border-radius: 0 0 20px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
    
    min-height:20%;
    height:fit-content;
}

.category-tile-hover{
    position:absolute;
    background-color: rgba(0, 0, 0, 0);
    color:rgba(255, 255, 255, 0);
    display:flex;
    height:100%;
    width:100%;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    transition: 0.3s;
    
}

.category-tile h3{
    font-size:2rem;
    margin:0;
    width:100%;
    text-align:center;
}

.category-tile-hover:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color:rgb(255, 255, 255, 1);
    
}

/* CATEGORY-RECIPES */


.category-recipe-box{
    width:40%;
    margin:15px 1.5% 15px 1.5%;
    display:flex;
    outline:#c59a2b 3.5px solid; 
    border-radius:10px;
    /* box-sizing: border-box; */
    overflow: hidden;
    min-width:400px;
}

.category-recipe-box > div{
    width:60%;
    padding:3%;
    margin-left:1%;
}

.category-recipe-box > div > div{
    width:100%;
    display:flex;
}

.category-recipe-box > div > div > * {
    margin-left:10px;
}

.category-recipe-icon-box{
    width:15%;  
    text-align: center;
    margin-right:5%;
    min-width:30px;
    
}



.category-recipe-icon-box img{
    width:100%;
    object-fit:cover;
    max-height:350px;
}

.category-recipe-box > img{
    width:40%;
    object-fit:cover;
    max-height:300px;
    border-radius:0 10px 10px 0;
}

.category-recipe-box h3{
    margin:0;
    margin-top: 1%;
    margin-bottom:1%;
    font-size:2rem;
}

.category-recipe-box p{
    text-align: left;
    margin:0;
    margin-bottom: 5%;
}

.category-recipe-box a{
    text-decoration: none;
    margin-top: 100%;
}


/* SUBPAGE HEADER */



.subpage-header{
    width:100%;
    text-align: center;
    background-color: #C59A2B;
    font-size: 1.8rem;
}

.subpage-header h1{
    margin:0.5rem;
    
    color:white;
    
}

.subpage-header a{
    text-decoration: none;
}




@media screen and (max-width: 700px) {

    h1{
        font-size: 4rem
    }

    .recipe-box{
        min-width:0;
        height:auto;
        object-fit:none;
        width:80%;
        border-radius:3vw;
        flex-wrap:wrap;
    }

    .recipe-box div{
        width:100%;
    }

    .recipe-box h3{
        width:100%;
    }

    .recipe-box img{
        border-radius:0 0 2.5vw 2.5vw;
        width:100%;
    }

    #categories{
        justify-content: center;
    }

    .category-tile{
        width:45%;
        margin:1.5%;
        margin-bottom: 1rem;
        /* height:16rem; */
        height:18rem;
    }

    .category-tile h3{
        font-size: 1.8rem;
    }

}

